.mul{
    color: red;
}
.mail{
    width: 300px;
}
.checked{
    color: orange;
}
.how{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
td{
   padding: 20px;
   text-align: center;
}
.table{
  
}
th{
    padding: 30PX;
   row-gap: 50px;
    margin: 25vh;
}
 
.tot{
    margin: 35px;
    border: 1px solid black;
    padding: 20px;
}
textarea{
    height: 10vh;
    width: 100vh;
}